# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/
env/
ENV/

# Data
data/raw/videos/*
!data/raw/videos/.gitkeep
data/processed/
data/artifacts/

# Docker
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
logs/
*.log
airflow/logs/

# Model weights (too large for git)
*.pt
*.pth
*.ckpt
*.h5

# Jupyter
.ipynb_checkpoints/
*.ipynb

# OS
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/
*.tmp


# frontend
frontend/node_modules/*

# Large files
*.mp4
*.avi
*.mkv
*.mov
*.zip
data.zip

docs/*

scripts/*